.bg-orange{
    background: $bg-orange;
  }
  
  .bg-maroon {
    background: $bg-maroon;
  }
  
  .bg-beige {
    background: $bg-beige;
  }
  
  .bg-primary-color {
    background: $bg-primary-color;
  }
  
  .bg-secondary-color {
    background: $bg-secondary-color;
  }
  
  .bg-brown {
    background: $bg-brown;
  }
  
  .bg-blue {
    background: $bg-blue;
  }
  
  .bg-red {
    background: $bg-red;
  }
  
  .bg-white {
    background: $bg-white;
  }




  