.wh-1{
    width: 100px;
}
.wh-2{
    width: 200px;
}
.wh-3{
    width: 300px;
}
.wh-4{
    width: 400px;
}
.wh-5{
    width: 500px;
}
.wh-6{
    width: 600px;
}
.wh-7{
    width: 700px;
}
.wh-8{
    width: 800px;
}
.wh-9{
    width: 900px;
}
.wh-100{
    width: 100%;
}
// ------------//
.hgh-1{
    height: 100px;
}
.hgh-2{
    height: 200px;
}
.hgh-3{
    height: 300px;
}
.hgh-4{
    height: 400px;
}
.hgh-5{
    height: 500px;
}
.hgh-6{
    height: 600px;
}
.hgh-7{
    height: 700px;
}
.hgh-8{
    height: 800px;
}
.hgh-9{
    height: 900px;
}
.hgh-100{
    height: 100%;
}

